*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Microsoft YaHei, SimSun;
	max-width: 960pt;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

a:hover{
	text-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

button:hover{
	background-color: rgba(0, 0, 0, .4);
	cursor: pointer;
}

input:focus{
	border-color: #66afe9;
  	outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.container{
	width: 80%;
	margin: 0 auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clearf{
	overflow: hidden;
}

header{
	font-size: 15pt;
	color: #000;
}

header h1{
	font-family: ArialRoundedMTBold;
	font-size: 18pt;
	margin-top: 24pt;
	margin-bottom: 30pt;
	padding: 0;
	line-height: 1;
}

header img{
	width: 27pt;
	height: 27pt;
	vertical-align: top;
	margin-right: 5pt;
}

header nav > ul > li{
	display: inline-block;
}

header nav ul:first-child > li{
	padding-right: 40pt;
}

header nav ul:last-child > li{
	padding-left: 40pt;
}

footer table{
	height: 140pt;
	width: 100%;
	font-size: 12pt;
	color: rgb(122, 124, 129);
	border-top: 1pt solid rgb(122, 124, 129);
	border-bottom: 1pt solid rgb(122, 124, 129);
	border-spacing: 0;
}

footer tbody{
	text-align: center;
}

footer tbody tr td + td{
	border-left: 1pt solid rgb(122, 124, 129);
}

footer span,
footer a{
	color: #0f88eb;
}